/* Body and container styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Button styles */
.btn-primary, .btn-success {
  background-color: #C8102E;
  border-color: #C8102E;
}

.btn-primary:hover, .btn-success:hover {
  background-color: #a00f2a;
  border-color: #a00f2a;
}

/* Form field and label styling */
.form-control {
  border-radius: 0;
  border-color: #ced4da;
}

label {
  font-weight: bold;
  color: #343a40;
}

/* Course suggestion box styling */
#courseSuggestionBox {
  position: absolute;
  z-index: 1000;
  width: 100%; 
  max-height: 200px;
  overflow-y: auto; 
  background-color: white;
  border: 1px solid #ced4da;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.list-group-item {
  cursor: pointer;
  color: #495057;
}

.list-group-item:hover {
  background-color: #C8102E;
  color: white;
}

.course-controls {
  text-align: right;
}

.list-group-item.active {
  background-color: #C8102E;
  border-color: #C8102E;
  color: white;
}

/* Course item styling */
.course-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-name {
  flex-grow: 1;
  user-select: none;
  cursor: pointer;
}

.course-controls {
  text-align: right;
}

/* Toggle arrow icon rotation */
.arrow-icon {
  display: inline-block;
  transition: transform 0.3s ease; /* Smooth rotation transition */
}


.expanded>.course-name>.arrow-icon {
  transform: rotate(180deg);
}

.course-details {
  padding: 10px 0;
  border-top: 1px solid #ddd;
  margin-top: 10px;
}

/* CSS for rotating the arrow */
.course-item.expanded .arrow-icon {
  transform: rotate(180deg);
}

/* Course details section styling */
.course-details {
  padding: 10px 0;
  border-top: 1px solid #ddd;
  margin-top: 10px;
}

/* Toggle switch for computer required */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 32px;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  border-radius: 34px;
  transition: 0.4s;
}

.toggle-label::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.toggle-input:checked + .toggle-label {
  background-color: #C8102E;
}

.toggle-input:checked + .toggle-label::before {
  transform: translateX(26px);
}

/* Styling for inactive courses */
.inactive-course {
  background-color: #C8102E;
  color: white;
}

/* Secondary navigation styles */
.secondary-nav-container {
  margin-top: 20px;
  text-align: center;
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.secondary-navbar-custom {
  background-color: transparent;
  justify-content: center;
}

.secondary-navbar-custom .navbar-nav .nav-link {
  color: #C8102E;
  margin: 0 15px;
  transition: background-color 0.3s, color 0.3s;
  padding: 5px 10px;
  border-radius: 10px;
}

.secondary-navbar-custom .navbar-nav .nav-link:hover,
.secondary-navbar-custom .navbar-nav .nav-link:focus {
  background-color: #C8102E;
  color: white;
}

.secondary-navbar-custom .navbar-nav .nav-link.active {
  background-color: #C8102E;
  color: white;
}

/* Badge styling for selected professors */
.badge {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #C8102E;
  color: white;
}

.badge .btn-danger {
  margin-left: 5px;
  padding: 0 5px;
  font-size: 12px;
}

