body {
    font-family: 'Arial', sans-serif; 
    background-color: #f8f9fa; 
}

.container {
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow to lift the container from the background */
}


.btn-primary, .btn-success {
    background-color: #C8102E; 
    border-color: #C8102E;
}

.btn-primary:hover, .btn-success:hover {
    background-color: #a00f2a;
    border-color: #a00f2a;
}


.form-control {
    border-radius: 0; 
    border-color: #ced4da;
}


label {
    font-weight: bold;
    color: #343a40; 
}


#suggestionBox, #suggestionBoxProfType {
    background-color: #fff;
    border: 1px solid #ced4da;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}


.list-group-item {
    color: #495057;
}

.list-group-item:hover {
    background-color: #C8102E; 
    color: white;
}

.list-group-item.active {
    background-color: #C8102E;
    border-color: #C8102E;
    color: white;
}
