body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: space-between; /* Distribute space between elements */
    align-items: center;
    margin-bottom: 20px;
    gap: 20px; /* Add space between each control element */
}

.label-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.controls select,
.controls input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: auto; /* Adjust width to fit content */
}

.controls input[type="text"] {
    flex-grow: 1; /* Allow the search field to grow and take up available space */
    margin: 0 20px; /* Add space on both sides of the search input */
}

.controls button {
    padding: 9px 10px; /* Reduce padding for a slimmer button */
    font-size: 14px; /* Adjust the font size to make the button more compact */
    color: #fff;
    background-color: #C8102E;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto; /* Push the button to the far right */
}

.controls button:hover {
    background-color: #A00F2A;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background-color: #C8102E;
    color: white;
}

td {
    vertical-align: top;
}
